@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
* {
  box-sizing: border-box; }

/* line 15, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
  font-family: Raleway, Helvetica, Arial, sans-serif; }

/* line 25, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
img {
  width: 100%;
  display: block; }

/* line 30, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
body {
  margin: 0;
  padding: 0; }

/* line 35, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
small {
  text-align: center;
  padding: 1em;
  color: white; }

/* line 42, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.cover {
  background: #3fd821 url("../images/great-lakes.jpg") no-repeat center center;
  background-size: cover;
  padding: 5em 1em 1em;
  text-align: center;
  height: 20em; }

/* line 52, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
footer {
  overflow: hidden;
  background-color: #46C0BE; }

/* line 57, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.center {
  text-align: center; }

/* line 61, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.white {
  color: white; }

/* line 65, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.row {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: white;
  font-size: 1.3em; }

/* line 73, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
a {
  text-decoration: none;
  color: white; }

/* line 78, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.logo {
  width: 15em;
  height: auto;
  margin: 50% auto;
  position: absolute;
  top: -6em;
  left: 10%;
  right: auto; }

/* line 88, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.hamburger {
  height: 120px;
  width: 120px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  right: 5%;
  background: transparent url("../images/donate-button.svg") no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap; }

/* The toggle (hamburger) */
/* line 106, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-btn, .nav-btn:link, .nav-btn:visited {
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  left: 5%;
  background: transparent url("../images/hamburger.svg") no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap; }

/* line 121, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-top {
  max-height: 0;
  background-color: black;
  clear: both;
  /* Animation on open */
  transition: all 250ms linear; }

/* line 134, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-top[data-state="expanded"] {
  max-height: 14em
  /* max height of dropdown */ }

/* line 138, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-top ul {
  margin: 0;
  padding: 1.5rem 0;
  list-style-type: none; }

/* line 146, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-top a, .nav-top a:link, .nav-top a:visited {
  display: block;
  font-size: 1.25em;
  padding: 0.875rem 5%;
  color: white;
  text-decoration: none; }

/* line 154, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
article {
  margin: 0;
  padding: 1.5rem 5%; }

/* line 159, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
h1 {
  margin: 0 0 1.5rem;
  padding: 0;
  font-size: 2rem; }

/* line 165, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
figure {
  margin: 0 auto 1.5rem;
  width: 60%; }

/* line 170, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
figure a {
  font-size: 0.875rem;
  color: black;
  text-decoration: none; }

/* line 176, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-bottom {
  margin: 0;
  padding: 1.5rem 5% 6rem;
  background-color: #46C0BE;
  overflow: hidden; }

/* line 183, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 191, /Users/SebastianNadeau/Desktop/greatlakes/scss/components/main */
.nav-bottom a, .nav-bottom a:link, .nav-bottom a:visited {
  color: white;
  text-decoration: none;
  font-size: 0.875em;
  line-height: 1.5rem; }
