// Mixins

@mixin zero{
  margin: 0;
  padding: 0;
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Hide text in an element
@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block; // inline elements with this won't hide text unless set to block
}

@mixin show-text{
  text-indent: 0;
  white-space: normal;
  overflow: visible;
}