<footer>
        <ul>
            <li class="row"><a href="#">E-Mail</a></li>
            <li class="row"><a href="#">Twitter</a></li>
            <li class="row"><a href="#">Facebook</a></li>
         </ul>
    
        <h2 class="center white">312-939-0838</h2>
        <p class="center white">150N. Michigan Ave. Suite 700, <br> Chicago, IL 60601</p>
    
        <small>© 2002-2015 Allaince for the Great Lakes, All Rights Reserved.</small>

    
</footer>
        
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/toggle.js"></script>

<script src="js/hammer.min.js"></script>
<script src="js/main.js"></script>
<script src="js/scroll.js"></script>
<script src="js/menu-opener.js"></script> 