<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>

<link href="css/_style.css" rel="stylesheet">
<link href="js/main.js" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">

<meta charset="utf-8">
<title>Allaince for the Great Lakes</title>
<link href="{{site.baseurl}}/css/_style.css" rel="stylesheet">

<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<nav class="menu-opener">
    <div class="menu-opener-inner"></div>
  </nav>
  <nav class="menu">
    <ul class="menu-inner">
      <a href="{{site.baseurl}}/who-we-are.html" class="menu-link">
        <li>Who Are We</li>
      </a>
      <a href="{{site.baseurl}}/great-lakes-issues.html" class="menu-link">
        <li>Great Lakes Issues</li>
      </a>
      <a href="{{site.baseurl}}/get-involved.html" class="menu-link">
        <li>Get Involved</li>
      </a>
    </ul>
  </nav>
  
<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/main.js"></script>
<script src="js/scroll.js"></script>
<script src="js/menu-opener.js"></script>  

</head>
<body>
    
<header>
    
    <div class"relative">
        <div class="cover"></div>
        <a class="logo" href="index.html">
            <img src="images/logo.svg" class="logo">
        </a>
    </div>
</header> 
</body>
</html>
