/* Toggle Menu -------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
font-family: "Open Sans"; 
color: $text-color; 
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

body {
    margin: 0em;
    padding: 0em;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn, 
  &.noscript .toggle-btn{
      display: none;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  padding: 2rem 1rem 2rem;
  margin: 0;
  position: relative;
  background-color: $navs;
  height: 5rem;
  .toggle-btn{
    position: absolute;
    right: 1em;
    top: 0;
  }
  h1 {
    font-size: 1rem;
  }
}

.banner-section {
  background: transparent url('../images/great-lakes.jpg') no-repeat center center;
  background-size: cover;
  padding: 14rem 0;
  margin: 0;
}
 
h1 {
    padding: 0;
}

 .main-title {
    top: 2rem;
    left: 2rem;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    position: absolute;
  }

.navigation {
    background-color: $navs;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.nav-logo {
  margin: 0;
  padding: 0;
  height: 30px;
  float:left;

}

.banner h4{
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  padding: .5rem;
  color: $light-grey;
  border-radius: 20px;
  max-width: 10rem;
  margin: 0 auto;
}

.banner h4:hover{
  background-color: $light-grey;
  color: $blue;
}

.navigation ul{
  @include zero;
  li{
    list-style-type: none;
    a{
      display: block;
      padding: .5em 1em;
      text-align: center;
      text-decoration: none;
    }
  } // li
} // .navigation ul

@media only screen and (min-width: 45em){
  .navigation{
    text-align: center;
    float: right;
    display: inline;
    right: 2%;
  }
  
  .navigation li{
    float: left;
    width: 33.33%;
    display: inline;
    width:auto;
  }
}

.toggle-btn, 
.close-btn{
  color: white;
  position: relative;
  margin-top: 1rem;
  height: 40px;
  width: 40px;
  text-decoration: none;
  padding: 0 .5rem;
  display: block;
  i{
    padding-top: .5rem; 
  }
  span{
    font-size: .3rem;

  }
}

.close-btn{
  margin: 1em;
}
/**
 * Sliding Navigation
 */

// Page should move when nav opens
// only time we will ever use max-width
@media only screen and (max-width: 45em){ 
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 300ms, ease-in-out);
    }

    &[data-state='slide-open'] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state='slide-open']{
      // Allow expansion of navigation past page height, when open
      overflow:visible;
    }
  }

  // Nav styles
  .slide-menu{
    //creates sliding effect
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 0;
    min-height: 800px;
  }
}

// Resets page when desktop, even if nav is toggled open
@media only screen and (min-width: 45em) {
  .toggle-btn, 
  .close-btn{
    display: none;
  }
}

.banner {
  width: 100%;
}

.count {
  background-color: $light-grey;
  padding: 1.5rem;
}

.count h1 {
    color: $blue;
}

body.noscript .slide-menu{
  position: static;
  right: auto;
}

article {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.img-flex {
    width: 100%;
}

.donate {
    width: 10em;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 0.5em 1em;
    background-color:#fff;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border: 0;
    color:#21637F;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    width: 8em;
    margin: 0 4em;
}

    
.btn-alt,
.btn-alt:link,
.btn-alt:visited {
    background-color: #21637F;
    color: #fff;
}


.close {
    width: 1.3em;
    margin:1em;
    float: right;
}

div {
    margin: 0em;
    padding: 0em;   
}


.margin-top {
    margin-top: 4em;
}

.left-align {
    float:left;
}

.center {
    width: 50% auto;
}

footer {
    background-color: $navs;
    padding: 1em;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    margin: 0em;
}


.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.p-description {
  text-align: center;
  max-height: 0;
  -moz-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  color: #004371;
}

.p-description[data-state="expanded"] {
  max-height: 22rem;
}

.down-arrow{
  height: 35px;
  width: 35px;
}

.arrow-div {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}

.media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.media li{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.media i {
  border: solid 3px;
  padding: .7rem;
  border-color: $light-grey;
  border-radius: 100px;
}



