@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 100%;
    display: block;
}

body {
	margin: 0;
	padding: 0;
}

header {
	overflow: hidden;
    background-color: #46C0BE;
}

footer {
    overflow: hidden;
    background-color: #46C0BE;
    
}

.logo {
    width: 15em;
    height: auto;
    margin: 50% auto;
    position: absolute;
    top: -6em;
    left: 10%;
    right: auto;
}

.hamburger {
    height: 120px;
    width: 120px;
	overflow: hidden;
    position: absolute;
    top: 24px;
    right: 5%;
	
	background: transparent url("../images/donate-button.svg") no-repeat 0 0;

	text-indent: 100%;
	white-space: nowrap; 
}

/* The toggle (hamburger) */

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 60px;
    width: 60px;
	overflow: hidden;
    position: absolute;
    top: 24px;
    left: 5%;
	
	background: transparent url("../images/hamburger.svg") no-repeat 0 0;

	text-indent: 100%;
	white-space: nowrap; 
}


.nav-top {
	max-height: 0;
    background-color: black;
    clear: both;
    
    /* Animation on open */

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14em; /* max height of dropdown */
}

.nav-top ul { 
	margin: 0;
    padding: 1.5rem 0;
    list-style-type: none;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: block;
	font-size: 1.25em;
    padding: .875rem 5%;
	color: white;
	text-decoration: none;
}

article {
    margin: 0;
    padding: 1.5rem 5%;
}

h1 {
    margin: 0 0 1.5rem;
    padding: 0;
    font-size: 2rem;
}

figure {
	margin: 0 auto 1.5rem;
    width: 60%;
}

figure a {
    font-size: .875rem;
    color: black;
    text-decoration: none;
}

.nav-bottom {
    margin: 0;
    padding: 1.5rem 5% 6rem;
    background-color: #46C0BE;
    overflow: hidden;
}

.nav-bottom ul { 
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
    color: white;
    text-decoration: none;
    font-size: .875em;
    line-height: 1.5rem;
}