/* Toggle Menu -------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
font-family: "Open Sans"; 
color: $text-color; 
}

main p{
  padding: 0 2.2rem;
}

.img-flex{
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

body {
    margin: 0em;
    padding: 0em;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn, 
  &.noscript .toggle-btn{
      display: none;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

article {
    margin: 0rem auto;
    padding-bottom: 3rem;
    max-width: 55rem;
}

article a {
  color: $text-color;
}

header {
  padding: 2rem 1rem 2rem;
  margin: 0;
  position: relative;
  background-color: $navs;
  height: 5rem;
  .toggle-btn{
    position: absolute;
    right: 1em;
    top: 0;
  }
  h1 {
    font-size: 1rem;
  }
}

.center {
    text-align: center;
}

.max {
    max-width: 70em;
    padding: 3rem;
    background-color: $light-grey;
}

.max p {
  margin: 1rem;
}

summary {
    color: #fff;
    background-color: $dark;
    font-size: 1.2em;
    text-align: center;
}

.banner-section {
    background: transparent url('../images/great-lakes.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    color: #fff;
}

.banner-section h2 {
  color: #fff;
  @include banner
}

.banner-1 {
    background: transparent url('../images/1.jpg') no-repeat center center;
    @include banner;
    margin-top: 1rem;
}

.banner-2 {
    background: transparent url('../images/2.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-3 {
    background: transparent url('../images/3.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-4 {
    background: transparent url('../images/4.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-5 {
    background: transparent url('../images/5.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-6 {
    background: transparent url('../images/6.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-7 {
    background: transparent url('../images/7.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-8 {
    background: transparent url('../images/books.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.banner-9 {
    background: transparent url('../images/hands.jpg') no-repeat center center;
    @include banner;
     margin-top: 1rem;
}

.article a {
  color: $dark;
}

 .main-title {
    top: 2rem;
    left: 2rem;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    position: absolute;
  }

.navigation {
    background-color: $navs;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.nav-logo {
  margin: 0;
  padding: 0;
  height: 30px;
  float:left;

}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  padding: .5rem;
  color: $light-grey;
  border-radius: 20px;
  max-width: 10rem;
    margin: 0 0 5em 50%;
}

.btn:hover{
  background-color: $light-grey;
  color: $blue;
}

.navigation ul{
  @include zero;
  li{
    list-style-type: none;
    a{
      display: block;
      padding: .5em 1em;
      text-align: center;
      text-decoration: none;
    }
  } // li
} // .navigation ul

@media only screen and (min-width: 45em){
  .navigation{
    text-align: center;
    float: right;
    display: inline;
    right: 2%;
  }
  
  .navigation li{
    float: left;
    width: 33.33%;
    display: inline;
    width:auto;
  }
}

.footer-nav {
  background-color: $navs;
  padding: 1rem 0;

}

.footer-nav ul {
  padding: 0;
}

.footer-nav li{
    display: block;
    text-align: center;
    padding: .5rem;
    color: $text-color;
}

footer {
  background-color: $dark;
  color: $light-grey;
  padding-bottom: 1.5rem;
}

footer p{
  padding-left: 1rem;
}

@media only screen and (min-width: 45em){
  .footer-nav li {
  display: inline;
  }

  .footer-nav ul {
    margin: 0 auto;
    text-align: right;
    padding-right: 2rem;;
  }
}  

.toggle-btn, 
.close-btn{
  color: white;
  position: relative;
  margin-top: 1rem;
  height: 40px;
  width: 40px;
  text-decoration: none;
  padding: 0 .5rem;
  display: block;
  i{
    padding-top: .5rem; 
  }
  span{
    font-size: .3rem;

  }
}

.close-btn{
  margin: 1em;
}
/**
 * Sliding Navigation
 */

// Page should move when nav opens
// only time we will ever use max-width
@media only screen and (max-width: 45em){ 
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 300ms, ease-in-out);
    }

    &[data-state='slide-open'] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state='slide-open']{
      // Allow expansion of navigation past page height, when open
      overflow:visible;
    }
  }

  // Nav styles
  .slide-menu{
    //creates sliding effect
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 0;
    min-height: 800px;
  }
}

// Resets page when desktop, even if nav is toggled open
@media only screen and (min-width: 45em) {
  .toggle-btn, 
  .close-btn{
    display: none;
  }
}

.banner {
  width: 100%;
}

.count h3{
  background-color: $light-grey;
  font-size: 1.9em;
  padding: 3rem;
  text-align: center;
  color: $blue;
  font-weight:lighter;
  margin: 0;
}

body.noscript .slide-menu{
  position: static;
  right: auto;
}

div {
    margin: 0;
    padding: 0;
}

.img-flex {
    width: 100%;
}

.img-width {
    width: 30em;
}

.donate {
    width: 10em;
}

.close {
    width: 1.3em;
    margin:1em;
    float: right;
}

div {
    margin: 0em;
    padding: 0em;   
}


.margin-top {
    margin-top: 4em;
}

.left-align {
    float:left;
}

.center {
    width: 50% auto;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.p-description {
  text-align: center;
  max-height: 0;
  -moz-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  color: #004371;
}

.p-description[data-state="expanded"] {
  max-height: 22rem;
}

.down-arrow{
  height: 35px;
  width: 35px;
}

.arrow-div {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}

.media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.media li { 
  display: inline-block;
  padding: 3rem;
  margin: 0;
  width: 2rem;
}

.media i {
  border: solid 3px;
  padding: 0.7rem;
  border-color: $light-grey;
  border-radius: 100px;
}

/* -------------- buckets -------------- */

.bucket {
  padding: 6rem 0;
  margin: 1rem auto;
}

@media only screen and (min-width: 45em) {
  .bucket {
  padding: 6rem 3rem;
  }
}

.bucket h2 {
  color: $dark;
}

.bucket-two {
  background: url('../images/6.jpg') no-repeat center;
  text-align: center;
}

.bucket-one {
  background: url('../images/4.jpg') no-repeat center;
}


/* ------------ tabs ---------------- */

.tabs h2 {
  color: $text-color;
}

.tabs {
  padding-top: 2rem;
}

.etabs { 
  margin: 0; padding: 0; 
}

.tab { 
        display: inline-block; 
        zoom:1; *display:inline; 
        background: #cecece; 
        color: $dark;
        border-bottom: 
        none; -moz-border-radius: 4px 4px 0 0;
         -webkit-border-radius: 4px 4px 0 0; 
 }

.tab a { 
        font-size: 14px; 
        line-height: 2em; 
        display: block; 
        padding: 5px 15px; 
        outline: none;
        text-decoration: none;
        color: $text-color; 
}

.tab a:hover { 
    text-decoration: none;
}

.tab.active { 
    background: $light-grey;
     padding-top: 6px; 
     position: relative; 
     top: 1px; 
     border-color: $dark; 
}

.tab a.active { 
    font-weight: bold;
}

.tab-container .panel-container { 
    background: $light-grey; 
     padding: 10px;
      -moz-border-radius: 0 4px 4px 4px;
       -webkit-border-radius: 0 4px 4px 4px; 
}

.panel-container { 
        margin-bottom: 10px; 
}

/* ------------- grid  ------------- */
.right {
  float: right;
}

.left {
  float: left;
}

