/* Toggle Menu -------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);

html{
font-family: "Open Sans";
<<<<<<< HEAD
margin: 0em;
padding: 0em;
}

body {
    margin: 0em;
    padding: 0em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

header {
    margin: 0;
    padding: 0;
}

article {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.img-flex {
    width: 100%;
}

.logo {
    width: 20em;
}

.donate {
    width: 10em;
}

.close {
    width: 1.3em;
    margin:1em;
    float: right;
}

div {
    margin: 0em;
    padding: 0.1em 0em;   
}

a {
  width: 100%;
  height: 100%;
    color: white;
}

.left-align {
    float:left;
}

.menu-items-small{
    padding: 0.9em;
    float: right;
    background-color: #21637F;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align:center;
    width: 8.8em;
    height: 5em;
    font-size: 0.7em;
}

.menu-items{
    padding: 0.8em;
    float:inherit;
    background-color: #21637F;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align:center;
    width: 7.4em;
    font-size: 0.8em;
}

.row {
    display: inline-block;
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.center {
    width: 50% auto;
}

footer {
    background-color: #21637F;
    padding: 1em;
}

.footer {
    color: white;
    text-align: center;
    padding-bottom: 1em;
    margin: 0em;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  -moz-transition: 250ms all;
  -ms-transition: 250ms all;
  -o-transition: 250ms all;
  transition: 250ms all;
}

=======
    
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  -moz-transition: 250ms all;
  -ms-transition: 250ms all;
  -o-transition: 250ms all;
  transition: 250ms all;
}

>>>>>>> gh-pages
.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  z-index: 2;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 64px;
  background: #fff;
}

.menu-opener:hover, .menu-opener.active {
  background: #fff;
  position: absolute;
}

.menu-opener-inner {
  background: #2DBDCD;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}

.menu-opener-inner::before, .menu-opener-inner::after {
  background: #2DBDCD;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
  
}

.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  -moz-transform: translateY(-0.75rem);
  -o-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}

.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
  -o-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}

.menu-opener-inner.active {
  background: transparent;
}

.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -moz-transform: translateY(0rem) rotate(-45deg);
  -o-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -moz-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -o-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #2DBDCD;
  color: transparent;
  height: 64px;
  position: absolute;
  z-index: -1;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 0rem;
}

.menu.active {
  width: calc(100% - 2rem);
  position: absolute;
  z-index: 1;
}

.menu.active .menu-link {
  color: #FFF;
}

.menu-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  -o-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.menu-link li {
  margin: auto;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  
  .menu-inner {
    display: block;
  }
  
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.p-description {
  text-align: center;
  max-height: 0;
  -moz-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  color: #004371;
}

.p-description[data-state="expanded"] {
  max-height: 22rem;
}

.down-arrow{
  height: 35px;
  width: 35px;
}

.arrow-div {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}
