.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin: 0 10px 0 0;
}

.media-body {
    overflow: hidden;
}

.media-img-reversed {
    float: right;
    margin: 0 0 0 10px
}

.media-img-stacked {
    float: none;
    margin: 0;
}

.media-body {
    overflow: hidden;
}

.bucket-img {
    width: 430px;
    height: 280px;
}

.grid {
  margin: 0;
  padding: 0;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}
    
.screen {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}



@media only screen and (max-width: 30em) {

.screen-s-inv {
    visibility: hidden;
    display: none;
    
}
    
}

@media only screen and (min-width: 30em) {
    
.screen-m-v {
        visibility:visible;
        display:block;
}
    
.screen-m-inv {
        display: none;
        visibility: hidden;
    }
    
}
    
    



@media only screen and (min-width: 55em) {
    
.screen-l-v {
        visibility: visible;
        display:block;
}
    
.screen-l-inv {
        display: none;
        visibility: hidden;
    }
    
}