p {
    margin: 2.2em 2em;
    font-family: 'FontAwesome', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-family: 'FontAwesome', Helvetica, Arial,sans-serif;
    font-size: 1.9em;
    text-align: center;
    color: white;
    font-weight:lighter;
}

h2 {
    font-family: 'FontAwesome', Helvetica, Arial sans-serif;
    text-align: center;
    color: #21637F;
    font-weight:bolder;
    margin: 1.2em 0em 0.7em 0em;
    padding: 0em;
}

h3 {
    font-family: 'FontAwesome', Helvetica, Arial sans-serif;
    text-align: center;
    color: #fff;
    font-weight:400;
    margin: 1.5em 2.5em;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: bold;
}

h4 {
    font-family: 'FontAwesome', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0em;
    padding: 0em;
}


.light-blue {
    background-color: #21637F;
    margin: 0em;
    padding: 1.5em;
}

.dark-blue {
    background-color: #004371;
    margin: 0em;
    padding: 1.5em 0em;
}

.baby-blue {
    background-color: #B9E4F5;
    margin: 0em;
    padding: 0.1em 0em; 
}

.blue-text {
    color: #004371;
}

.white {
    color: white
}

.top-spacing {
    margin-top: 3.5em; 
}