p {
    margin: 2em;
    font-family: 'FontAwesome', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-family: 'FontAwesome', Helvetica, Arial,sans-serif;
    font-size: 1.9em;
    text-align: center;
    color: white;
    font-weight:lighter;
}

h2 {
    font-family: 'FontAwesome', Helvetica, Arial sans-serif;
    text-align: center;
    color: white;
    font-weight:bolder;
}
