<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<title>Great Lakes Alliance</title>

<link href="css/style.css" rel="stylesheet">
<link href="js/main.js" rel="stylesheet">

<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="noscript">
  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">

      <header>
        <a href="/index.html"><img class="nav-logo" src="images/logo.svg" alt="Great Lakes Logo"></a>

          <!-- Menu Toggle Icon -->
        <a class="toggle-btn" href="#main-menu"><i class="fa fa-bars fa-lg"></i><span>Menu</span></a>

        <nav class="navigation slide-menu">
        <a class="close-btn" href="#main-menu"><i class="fa fa-times fa-lg"></i><span>Close</span></a>
          <ul>
              <li><a href="{{site.baseurl}}/index.html">Home</a></li>
              <li><a href="{{site.baseurl}}/who-we-are.html">Who We Are</a></li>
              <li><a href="{{site.baseurl}}/great-lakes-issues.html">Great Lakes Issues</a></li>
              <li><a href="{{site.baseurl}}/get-involved.html">Get Involved</a></li>
          </ul>
        </nav>
      </header><!-- /header -->

      <main class="grid">
        {{content}}
      </main><!-- /main -->

      <footer>
        {% include footer.html %}
      </footer><!-- /footer -->


    </div><!-- /.sliding-canvas -->
  </div><!-- /#page -->


</body>
</html>

